
body {

	/*background-color: #00000c;*/
	margin: 0px;
	
}

#Home {

	background-color: black;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;

}

header {
/*    background-color: #48C9B0;*/
    text-align: center;
    padding-top: 40px;

}


.button {
    background-color: white; 
    border: none;
    color: orange;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: 'Alfa Slab One', cursive;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: transparent; 
    border: 2px solid  #FFA500;
}

.button1:hover {
    background-color: #FFA500;
    color: black;
}
	

a {

	text-decoration: none;

}



.name {

	margin-top: 40px;
	font-size: 60px;
	color: white;
	font-family: 'Alfa Slab One', cursive;
	padding-top: 5%;
	text-align: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.name a {

	color: orange;
	text-decoration: none;

}

.name a:hover {

	background-color: black;

}


.name hr {

	width: 70%;
/*	top:3.8em;*/
	border-color: orange;
	background-color: orange;


}

@-webkit-keyframes thread2 {
	  100%   { width: 70%; }
	  80% { width: 70%; }
	  50% { width: 70px;}
	  0%{ width:70%;}
	}
	@-moz-keyframes thread2 {
	  100%   { width: 70%; }
	  80% { width: 70px; }
	  50% { width: 70%;}
	  0%{ width:70%;}
	}
	@-o-keyframes thread2 {
	  100%   { width: 70%; }
	  80% { width: 70px; }
	  50% { width: 70px;}
	  0%{ width:70%;}
	}
	@keyframes thread2 {
	  100%   { width: 70%; }
	  80% { width: 70px; }
	  50% { width: 70px;}
	  0%{ width:70%;}
}


.fa {

 margin-top: 20px;
  padding: 40px;
  font-size: 100px;
  width: 80px;
  text-align: center;
  text-decoration: none;


}

.fa:hover {
    opacity: 0.7;
     -webkit-transform: scale(1.9);
     -ms-transform: scale(1.9);
     transform: scale(1.9);
}

.social {

	margin-top: 80px;
	text-align: center;
	display: block;
}

.social a {
	
	color: #FFA500;
}


#AboutMe {

	background-color: orange;
	background-size: 100% 100%;
	width: 100%;
	height: 100%; 
}

#AboutMe a {

	font-size: 40px;
	text-align: center;
	font-family: 'Alfa Slab One', cursive;
	color: black;
	text-decoration: none;
}

.row img {

    margin-left: 100px;
    margin-top: 50;
    border-radius: 50%;
    border-style: solid;
    border-color: black;

}

.row img:hover {

      -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

}

.column {
    float: left;
    width: 50%;
    height: 400px; /* Should be removed. Only for demonstration */
}

.row article {

	padding: 30px;
	margin-right: 10px;
	font-size: 30px;
	font-family: 'Alfa Slab One', cursive;
	color: black;


}


#Education { 

	background-color: black;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;

 }

 #Education a {

 	font-size: 40px;
 	margin-right: 40px;
	/*float: right;*/
	font-family: 'Alfa Slab One', cursive;
	color: orange;
	text-decoration: none;

 }

html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
#timeline {

  width: 80%;
  margin: 60px auto;
  position: relative;
}
#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 100%;
  background: orange;
}
#timeline article {
  width: 100%;
  margin: 0 0 5px 0;
  position: relative;
}
#timeline article:after {
  content: '';
  display: block;
  clear: both;
}
#timeline article div.inner {
  width: 40%;
  float: left;
  margin: 2px 0 0 0;
  border-radius: 6px;
}
#timeline article div.inner span.date {
  display: block;
  width: 70px;
  height: 60px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -32px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  background: black;
  color: orange;
  border: 3px solid orange;
  box-shadow: 0 0 0 7px black;
}
#timeline article div.inner span.date span {
  display: block;
  text-align: center;
}
#timeline article div.inner span.date span.day {
  font-size: 9px;
}
#timeline article div.inner span.date span.month {
  font-size: 10px;
}
#timeline article div.inner span.date span.year {
  font-size: 10px;
}
#timeline article div.inner h2 {
  padding: 15px;
  margin: 0;
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative;
}
#timeline article div.inner h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
  	width: 10px; 
	  height: 10px;
  -webkit-transform: rotate(-45deg);
}
#timeline article div.inner p {
  padding: 15px;
  margin: 0;
  font-size: 14px;
  background: orange;
  font-weight: bold;
  color: black;
  border-radius: 0 0 6px 6px;
}
#timeline article:nth-child(2n+2) div.inner {
  float: right;
}
#timeline article:nth-child(2n+2) div.inner h2:after {
  left: -5px;
}
#timeline article:nth-child(1) div.inner h2 {
  background: orange;
}
#timeline article:nth-child(1) div.inner h2:after {
  background: orange;
}
#timeline article:nth-child(2) div.inner h2 {
  background: orange;
}
#timeline article:nth-child(2) div.inner h2:after {
  background: orange;
}
#timeline article:nth-child(3) div.inner h2 {
  background: orange;
}
#timeline article:nth-child(3) div.inner h2:after {
  background: orange;
}


#Skills { 

	padding-top: 50px;
	background-color: orange;
	background-size: 100% 100%;
	width: 100%;
	height: 120%;

 }

 #Skills a {

 	font-size: 40px;
 	margin-right: 40px;
	font-family: 'Alfa Slab One', cursive;
	color: black;
	text-decoration: none;

 }

.container {
    width: 80%;
    background-color: orange;
    margin-left: 150px;
    border-style: solid;
    border-color: black;
  }
.skills {
    text-align: right;
    padding: 10px;
    color: orange;
  }

.html {  width: 60%; background-color: black; }
.css {  width: 50%; background-color: black; }
.php {  width: 55%; background-color: black; }
.c {  width: 45%; background-color: black; }
.java {  width: 40%; background-color: black; }
.delphi { width: 38%; background-color: black; }


.skillslang {

	padding-left: 12%;
	font-family: 'Alfa Slab One', cursive;
	font-size: 18px;

}



#Experience {

	background-color: black;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	padding-top: 60px;

}

 .Experience a {

 	font-size: 40px;
 	margin-right: 40px;
 	font-family: 'Alfa Slab One', cursive;
 	color: orange;
 	text-decoration: none;

 }


.expcolumn {

    float: left;
    float: right;
    width: 48%;
    padding: 10px;
    height: 445px; 
    color: orange;
}

.exprow {

	padding-top: 80px;
	font-size: 20px;
}

.expcolumn h1 {

	font-size: 40px;
	font-family: 'Merriweather', serif;
	font-weight: bold;

}






























